@model platforma.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details for Category:</h2>
<h3>@Model.Name</h3>

<div>
    <hr />
    <table>        
        <tr>
            <th>
                Courses:
            </th>
        </tr>
    
        @foreach (var item in Model.Courses)
        {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Courses", new { id = item.Id }, null)
            </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
