@model platforma.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Category</h4>
    <hr />
    <table>
 
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>


            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        
        <tr>
            <th>
                Courses:
            </th>
        </tr>
    
        @foreach (var item in Model.Courses)
        {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Courses", new { id = item.Id }, null)
            </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
