@model platforma.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details for:</h2>
<h3>@Model.Name</h3>
<div>

    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price) [FINKI tokens]
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvgGrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvgGrade)
        </dd>
    </dl>

</div>
<p>
    @{
        if (Session["userType"].Equals("student"))
        {
            @Html.ActionLink("Buy Course", "BuyCourse", new { id = Model.Id })
        }
        if (Session["userType"].Equals("instructor"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        }
    }
    @Html.ActionLink("Back to List", "Index")
</p>
